<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="utLocation" value="E:\JEUX\Unreal Anthology\UT2004\"/>
    <add key="extensionsToCompress" value="ut2;ka;u;uax;ukx;usx;utx"/>
    <add key="compressExtension" value="uz2"/>
    <add key="destination" value="E:\JEUX\UT Server\"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>